__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg-info/
.env
.venv
venv/
env/

*.tar

.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
crash.log

.DS_Store
Thumbs.db
desktop.ini

.vscode/
.idea/

*.log
*.tmp
*.swp
*.swo
